<article class="rental">
    <div class="details">
        <h3>The Final Girl Support Group</h3>
        <div class="detail owner">
            <span>Author:</span> Grady Hendrix
        </div>
        <div class="detail type">
            <span>Genre:</span> Horror
        </div>
        <div class="detail location">
            <span>Length:</span> 339pg
        </div>
    </div>
</article>