<Jumbo>
    <h2>About This Site</h2>
    <p>
        This website was created by Cassidy Foust in 2021 to explore Ember.
    </p>
    <LinkTo @route="contact" class="button">Contact</LinkTo>
    <LinkTo @route="index" class="button">Home</LinkTo>
</Jumbo>