<Jumbo>
    <h2>Contact</h2>
    <p>
        Like what you see? Check out my
        <a href="http://www.cassidyfoust.com">website</a>,
        <a href="https://github.com/cassidyfoust">GitHub</a>,
        and <a href="https://www.linkedin.com/in/cassidy-foust-68225411a/">LinkedIn</a> for more.
    </p>
</Jumbo>