<Jumbo>
    <h2>Hello, Cass!</h2>
    <p>What would you like to read today?</p>
    <LinkTo @route="about" class="button">About</LinkTo>
    <LinkTo @route="contact" class="button">Contact</LinkTo>
</Jumbo>
<div class="rentals">
    <ul class="results">
        <li>
            <Book/>
        </li>
        <li>
            <Book/> 
        </li>
        <li>
            <Book/>
        </li>
    </ul>
</div>