<Jumbo>
    <h2>Hello, Cass!</h2>
    <p>What would you like to read today?</p>
</Jumbo>
<div class="rentals">
    <ul class="results">
        {{#each @model as |book|}}
        <li>
            <Book @book={{book}} />
        </li>
        {{/each}}
    </ul>
</div>